<div class="container whitebox">
<span class="border-0">
	<% if current_user %>

		<%= form_for Question.new, url: {action: 'create', controller: "questions", survey_id: @survey.id} do |f| %>
	  <p>
  <div class="form-group">
	    <%= f.label "What is your Question?" %><br>
	    <%= f.text_field :question_name %>
	  </p>
  	<div class="center">
	    <%= f.submit "New Question", :class => "btn btn-primary"%>
	</div>
	<% end %>
	<% end %>
