<div class="container whitebox">
	<span class="border-0">
		<% if current_user %>
		<% if @surveys.count > 0 %>
			<p>Surveys you created
			<% @surveys.each do |each_survey| %>
			<div class="linebelow">
				<p><%= link_to each_survey.name, survey_path(current_user)%><%=  %></p>
			</div>
			<% end %>
		<% else %>
			You haven't created any surveys yet
		<% end %>
			<%= link_to "Make a survey", new_survey_path %> </a>

		<% else %>
			<p>Please log in</p>
		<% end %>
	</span>
</div>
