<%= form_for :answer, url: {action: 'create'} do |f| %>
  <p>
    <%= f.label "Enter Answer" %><br>
    <%= f.text_field :answer_name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<form>
	
</form>