<div>
	<h1>Welcome to SurveyCreator</h1>
	<% if current_user %>
	<form>
	<p>What is your Survey Question?</p>
	<input type="text" name="surveyquestion">
	<input type="hidden" name="user_id" value=<%= current_user.id %>>
	<%= button_to "Create Survey", {action: "create", controller: "surveys", } %>
	</form>
	<% end %>
</div>