<div class="container whitebox">
<span class="border-0">
	<% if current_user %>

		<%= form_for Survey.new, url: {action: 'create', controller: "surveys", user_id: current_user.id} do |f| %>
  	<div class="form-group">
	    <%= f.label "Survey Name" %><br>
	    <%= f.text_field :name %>
	</div>
  <div class="center">
	    <%= f.submit "New Survey", :class => "btn btn-primary" %>
	  </div>
	<% end %>
<% end %>

</div>