<div class="container whitebox">
	<span class="border-0">
	<p>Take a Survey</p>
	<% @surveys.each do |each_survey| %>
	<p><a href="/surveys/<%= each_survey.id %>"><%= each_survey.name %> by <%= (User.find_by(id: each_survey.user_id)).username %></a></p>
	<% end %>

	</span>
</div>